* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fas, .fa, .far{
  cursor: pointer;
}
.chat-history-element:hover {
  background-color: #eaeaea;
}
.selected {
  background-color: #dddddd;
}
.selected:hover {
  background-color: #dddddd;
}
.container {
  width: 80vw;
  height: 89vh;
  margin: auto;
  border: 1px solid #EBEBED;
  display: flex;
}

.column-header {
  height: 9vh;
  background-color: #EEEEEE;
  border: 1px solid #dddddd;
  padding: 7px 15px;
}

.column-left {
  width: 35vw;
}
.column-search {
  padding: 5px 25px;
  /* background-color: #F8F8F8; */
}
.column-search > .inputcont > input {
  width: 80%;
  margin: auto;

}
.column-search > .inputcont {
  background-color: white;
  margin: auto;
  border-radius: 25%;
  padding: 2;
}
.chat-history-element{
display: flex;
border: 0.5px solid #dddddd;
padding: 10px;
}
.column-right {
  width: 65vw;
  height: auto;

}
.column-header-left {
  height: 9vh;
}
.column-header-right
 {

  display: flex;
}
.contact-details {
  margin: auto 15px;
}
.contact-details .nome {
  color: black;
  margin-bottom: 3px;
}
.contact-details .dettagli {
  color: grey;
  font-size: small;
}
.div-icons-left {
  text-align: right;
  padding: 0px;

}
.div-icons-left > .fas {
  font-size: 25px;
  color: #1e1e1e;
  margin-left: 20px;

}
.div-icons-right {
width: 20vw;
margin:  auto 0;
text-align: right;
}
#myimg {
  width: 35px;
  border-radius:50%;
  margin: auto;

}
.div-icons-right > .fas {
  font-size: 20px;
  color: #1e1e1e;
  margin-left: 20px;
}
.flexgrow {
  flex-grow: 1;
}
#myimgh {
  border-radius:50%;

}
#imghead {
  height: 100%;
  border-radius:50%;
}

.column-content-right {
  border: 1px solid #dddddd;
  height: 70vh;
  background-image: url("imgbg.png");
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.column-search {
  border: 1px solid #dddddd;
  height: 8vh;
}
.column-input {
  height: 10vh;
  background-color: #EEEEEE;
  border: 1px solid #dddddd;
  display: flex;


}
.column-input-element {
margin: auto;

}

input {
  width: 500px;
  margin: 10px;
  height: 30px;

}

.first-child {
  flex-grow: 1;
}
.last-ms{
  text-align: end;

}
.msgUtente {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
  height: 30px;
  margin: 10px;
}

.msgUtente span {
  background-color: white;
  padding: 7px 30px;
  border-radius: 5%;
}

.msgInterlocutore {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.msgInterlocutore span {
  background-color: #dcf8c6;
  padding: 7px 30px;
  border-radius: 5%;
}
